.ml 
{
    margin-left:30px;
}
.btn{
    
    padding :0 20px;
    font-weight :600;
    padding: 6px 15px;
    
   }
   .btn :hover{
    text-decoration : none; 
   }
   .position{
       position: absolute;
       top: 0;
       z-index: 10000;
   }
   #basic-nav-dropdown{
       color: blanchedalmond;
   }
 